{% extends 'base.html'%} {% import 'macros.html' as macro %} {% block content %}

<head>
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
</head>

<body>

  <div class="allcontent">

    <div id="content">

      <img src="https://upload.wikimedia.org/wikipedia/it/8/8b/Rai-news-hd.png" alt="" style="  width: 100%;">
      <blockquote class="blockquote blockquote-reverse" style="background-color: cyan;">
        <p class="mb-0">I Welcome you all to one of the best news site there today. Here you can view all the news you missed, interested in or a story you are following.</p>
        <footer class="blockquote-footer">created by Gabriel Gatumu
          <cite title="Source Title"> Sensation</cite>
        </footer>
      </blockquote>


      <div class="container">
        <div class="alln">
          <h1 id="general">general </h1>
        </div>


        {{macro.displaySourceList(general)}}


      </div>
      <div class="container">
        <div class="alln">
          <h1 id="business">business</h1>
        </div>


        {{macro.displaySourceList(business)}}


      </div>

      <div class="container">
        <div class="alln">
          <h1 id='technology'>technology</h1>
        </div>


        {{macro.displaySourceList(technology)}}


      </div>

      <div class="container">
        <div class="alln">
          <h1 id="sports">sports</h1>
        </div>

        {{macro.displaySourceList(sports)}}

      </div>

      <div class="container">
        <div class="alln">
          <h1 id="health">health</h1>
        </div>


        {{macro.displaySourceList(health)}}


      </div>
      <div class="container">
        <div class="alln">
          <h1 id="science">science</h1>
        </div>


        {{macro.displaySourceList(science)}}


      </div>
      <div class="container">
        <div class="alln">
          <h1 id="entertainment">entertainment</h1>
        </div>


        {{macro.displaySourceList(entertainment)}}


      </div>
    </div>
  </div>

</body>


{% endblock%}
